
body {
    background-color: #FFF;
    margin: 0px;
    padding: 0px;
    font-family: Josefin Sans;
    font-weight: small;
}
#wrapper {
    border-radius: 10px;
    margin: 180 auto;
    width: 600px
}

#input {
    background-color: #FFF;
    border-radius: 5px;
    width: 310px;
    height: auto;
    padding: 16px;
    margin: 0px auto;
    padding-top: 10px;
}
input[type=text] {
    background-color: #EEEEEE;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Josefin Sans;
    text-align: center;
    font-size: 1em;
    color: dimgray;
}
#chat {
    background-color: #FFF;
    border-radius: 5px;
    width 100%;
    height: auto;
    padding: 16px;
    margin: 0px auto;
}
textarea {
    background-color: #EEEEEE;
    width: 100%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    resize: none;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: Josefin Sans;
    color: dimgray;
}
textarea:focus, input:focus{
    outline-color: #8972fe;
}
#join {
    background-color: #8972fe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-family: Josefin Sans;
    opacity: 0.7;
}
label {
    color: #4c3b7b;
}
#send {
    float: right;
    background-color: #8972fe;
    color: white;
    padding: 10px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Josefin Sans;
}

#chatwindow {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
#chatwindow::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
#info {
    color: #8972fe;
    padding: 0px 21px;
}
#info a {
    float: right;
    color: #8972fe;
    font-size: 1em;
    text-decoration: none;
}
.hidden {
    display: none;
}
.messages {
    background-color: #8972fe;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-right: 5px;
}
#chatwindow::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
#chatwindow::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
#chatwindow::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#chatwindow::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}
pre {
    margin: 5px auto;
    margin-bottom: 0px;
    font-size: 0.8em;
    font-family: Josefin Sans; 
}

#incorrect {
    display: none;
    background-color: #DD3E3E;
    color: white;
    border-radius: 5px;
    width: 290px;
    padding: 10px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin: 0px auto;
    font-weight: 100;
}
#incorrect button {
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    margin-top: -31px;
    cursor: pointer;
}
#incorrect {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*authorization*/
#auth {
    text-align: center;
    font-size: 2em;
}
#auth a {
    color: #303841;
}
#auth a:hover {
    opacity: 0.7;
    transition: 0.3s;
}